<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="footer-section">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="{% url 'buyer_dashboard' %}">Home</a></li>
                <li><a href="{% url 'search_listings' %}">Search</a></li>
                <!-- <li><a href="#">Rent</a></li> -->
                <li><a href="{% url 'seller_dashboard' %}">Sell</a></li>
                <!-- <li><a href="#">Agents</a></li> -->
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>Email: info@example.com</p>
            <p>Phone: +123 456 7890</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Website. All Rights Reserved.</p>
    </div>
</footer>
